* { box-sizing:border-box; }

.background-image{
	background: url("unc.jpg") no-repeat center center fixed;
	background-size: cover;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-size:cover;
	z-index:1;
	-webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.content{
	z-index:9999;
	position: relative;
}
body {
	font: 12px Georgia, "Times New Roman", Times, serif;
                color: #888;;
	background: #eee;
  -webkit-font-smoothing: antialiased;
z-index:2;
}

.headgroup {
  font-family: Helvetica;
	text-align:center;
}

h2{

	font-weight: bold;
	font-family: 'Fjalla One';

  }





form {
	width: 380px;
    margin-left: 15em;  
    margin-top: 4em;
}

.group {
	position: relative;
	margin-bottom: 30px;
}

input {
	z-index: 1;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
  	background: transparent;
  	font-weight: 300;
  	color:black ;
	width: 100%;
	border: none;
	border-bottom: 1px solid black;
	border-radius: 0;
}[]

input:focus { outline: none; }


/* Labelbackground: #fafafa;color: #636363; */

label {
	/*color: #999;*/
	font-size: 18px;
	font-weight: 600;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition:all 0.2s ease;
	transition: all 0.2s ease;
}


/* active color: #4a89dc;*/

input:focus ~ label, input.used ~ label {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
color: black;
}


/* Underline background: #4a89dc;*/

.bar {
	position: relative;

	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;

	-webkit-transition:all 0.2s ease;
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}


/* Animations*/

@-webkit-keyframes inputHighlighter {
	from { background: black; }
	to 	{ width: 0; background: transparent; }
}

@keyframes inputHighlighter {
	from { background: black; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: 1.5em 0 0 0;
  width: 100%;
  vertical-align: middle;
  color: white;

  font-size: 20px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: black;
  border: 0;

  cursor: pointer;
  -webkit-transition:all 0.15s ease;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers 4a89dc*/

.buttonBlue {
  background: black;
	font-size: 1.7em;
}

.buttonBlue:hover { background:black
; color:#FCFCFC;}

/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  -webkit-animation: ripples .4s ease-in;
          animation: ripples .4s ease-in;
}


/* Ripples animation */

@-webkit-keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
a{
	color:black !important;
	margin-left: 80px;
}
a:hover{
	color:#FCFCFC;
	text-decoration: underline;
}
